<div id='notice'>
  <%= render 'flash' , :locals => { :flash => flash } %>
</div> 

<div class="container">
</div>

<div class="container matches">
	<h1>Our Results!</h1>
	<div class="row">
		<% @recipes.each do |recipe| %>
			<% if recipe.image != nil %>
				<div class="col-md-4 recipes">
					<div class="recipecontent">
						<h1><%= recipe.name %></h1><br>
							<div class="image">
								<%= image_tag recipe.image %>
							</div>
							<p><%= recipe.description %></p><br>
								<% if recipe.recipeYield %>
									<p>Serves <%= recipe.recipeYield%></p>
								<% end %>
								<% if recipe.prepTime %>
									<p>Prep Time <%= recipe.prepTime %></p>
								<% end %>
								<% if recipe.cookTime %>
									<p>Cook Time <%= recipe.cookTime%></p>
								<% end %>
								<% if current_user %>
									<%= recipe.ingredients.gsub!(/\n/,', ')%>
								<% end %>
							<hr>
								<% if current_user %> 
									<% if @user.recipes.include? recipe %>
										<p class="unfavorite"><%= button_to 'unfavorite', unfavorite_recipe_path(recipe.id), remote: true %> </p>
									<% else %>
										<p class='favorite'><%= button_to 'favorite', favorite_recipe_path(recipe.id), remote: true %> </p>
									<% end %>
								<% end %>
					</div>
				</div>

			<% end %>
		<% end %>
	</div>
	
</div>


 <!-- && (Net::HTTP.get_response(URI.parse(recipe.image)).code == '200') -->