<%= form_for @user do |f| %>

	<p>
		<%= f.label :email %>
		<%= f.email_field :email, required: true, placeholder: 'Email' %>
	</p>

	<p>
		<%= f.label :phone_number %>
		<%= f.text_field :phone_number, required: true, placeholder: 'Phone Number' %>
	</p>

	<p>
		<%= f.label :password %>
		<%= f.password_field :password, required: true, placeholder: 'Password' %>
	</p>

	<p>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, required: true, placeholder: 'Password' %>
	</p>

	<p>
		<%= f.submit "Submit" %>
	</p>

<% end %>