<div class="container matches">
	<div class="row">
		<% @user.recipes.each_with_index do |recipe, index| %>
			<div class="col-md-4 recipes">
				<div class="recipecontent" data-type="<%= index %>">
					<h1><%= recipe.name %></h1><br>
						<div class="image">
							<%= image_tag recipe.image %>
						</div>
						<p> <%= link_to "Directions", recipe.url, target: "_blank" %> </p>
						<p><%= recipe.description %></p><br>
							<!-- Dropdown For Ingredients -->
							<% recipe.shopping_list(recipe.ingredients).each_with_index do |item, index| %>
								  <p class="checklist">
  									<input type="checkbox" class="item" id="<%= index %>" data-type="<%= item.tr(" ", "_").downcase %>" />
  									<label for="item" class="text"><%= item %></label>
									</p>
							<% end %>	
						<hr>
						<div class="user_buttons">
							<p class="text"><%= button_to 'text me!', textme_path, remote: true %> </p>
							<p><%= button_to 'unfavorite', unfavorite_recipe_path(recipe.id) %> </p>
						</div>
				</div>
			</div>
		<% end %>
	</div>